body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#checkboxes > input{
	display: inline;
}

.profile-button {
	display: inline;
	padding: 8px;
	background-color: #FFF05A;
	border-radius: 100px;
}

#mat {
	background-color: #A69F98;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#button-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card {
	background-color: #8C6057;
	height: 15vh;
	width: 15vw;
	margin: 20px;
	border-radius: 20px;
	border: solid 15px;
	border-color: #5C5346;
	color: #8C6057;
	box-shadow: 0px 0px 0px 0px rgb(44, 44, 44);
	transition: color .5s, height .5s, width .5s, box-shadow .5s;
}


.card:hover {
	height: 16vh;
	width: 16vw;
	color: black;
	box-shadow: 5px 5px 5px 5px rgb(44, 44, 44);
}

h3 {
	text-align: center;
	color: black;
}


